DB_PROFILE=-YOUR_SHOP_NAME
WRITE_ENABLED=false

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=YOUR_PASSWORD
MYSQL_DB=YOUR_DB_NAME

ETSY_API_KEY=YOUR_ETSY_API_KEY
ETSY_API_SECRET=YOUR_ETSY_API_SECRET
ETSY_REFRESH_TOKEN=YOUR_ETSY_REFRESH_TOKEN